
<div class="sidebar" id="side_bar_left">
  <h1>Themed <br/>words</h1>
  <!-- drop down menu -->
  <form> 
   <select name='category_selector' id='theme_category'> 
      <option value="" disabled selected>Choose a word category</option>
      <% @theme_categories.each do |category| %>
        <option class="category theme_category" value="<%= category.id %>"><%= category.name %></option>
      <% end %>
    </select>
  </form>  


</div>
<!-- words get dragged onto the fridge -->
<div id="fridge">
  <div id="intro_text">
    Drag words onto the fridge and write a poem!
  </div>
</div>

<div class="sidebar" id="side_bar_right">
  <h1>Basic <br/>words</h1>
  <!-- drop down menu -->
  <form> 
   <select name='category_selector' id='basic_category'> 
      <option value="" disabled selected>Choose a word category</option>
      <% @basic_categories.each do |category| %>
        <option class="category" value="<%= category.id %>"><%= category.name %></option>
      <% end %>
    </select>
  </form>  

  <span id="reset"><a href="/">Reset Poem</a></span>
  <div id="trash"></div>
</div> 


