 <div id="container"> 
  <form> 
   <select name='category_selector' id='category_selector'> 
      <option value="" disabled selected>Choose a word category</option>
      <% @categories.each do |category| %>
        <option class="category" value="<%= category.name %>"><%= category.name %></option>
      <% end %>
    </select>
  </form>
  
  <div id="side_bar">
    <h1>SAMPLE WORDS</h1>
    <% @sample_words.each do |word| %>
      <div class="word" data-storypart="false" id="<%= word.id %>"><%= word.name %></div>
    <% end %>

  </div>
  
  <div id="fridge"></div>
</div>