
<div class="sidebar" id="side_bar_left">
  <div id="left_picture_frame">
  </div>
  <div id="left_sidebar_header">Themed <br/>words</div>
  <!-- drop down menu -->
  <form> 
   <select name='category_selector' id='theme_category'> 
      <option value="" disabled selected>Choose a word category</option>
      <% @theme_categories.each do |category| %>
        <option class="category theme_category" value="<%= category.id %>"><%= category.name %></option>
      <% end %>
    </select>
  </form>  


</div>
<!-- words get dragged onto the fridge -->
<div id="fridge" class="shadow">
  <div id="intro_text">
    <h1>Drag words onto the fridge and write a poem!</h1>
  </div>
</div>

<div class="sidebar" id="side_bar_right">
  <div id="right_picture_frame">
  </div>
  <div id="right_sidebar_header">Basic <br/>words</div>
  <!-- drop down menu -->
  <form> 
   <select name='category_selector' id='basic_category'> 
      <option value="" disabled selected>Choose a word category</option>
      <% @basic_categories.each do |category| %>
        <option class="category" value="<%= category.id %>"><%= category.name %></option>
      <% end %>
    </select>
  </form>  

  <div id="reset"><strong>New Poem</strong></div>
  <div id="trash"></div>
</div> 


