body {
  font-family: "Coronette";
  padding-bottom: 50px;
}
#container {
  max-width: 960px;
  margin: auto;
}
#share_text {
  float: right;
  display: none;
}
nav {
  padding: 30px 0;

}
#nav_title {
  margin-left: 20px;
  color: white;
  background: red;
  padding: 5px;
  font-size: 26px;
  text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
  border-style:solid;
  border-bottom-color:#aaa;
  border-right-color:#aaa;
  border-top-color:#ddd;
  border-left-color:#ddd;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
}
.addthis_toolbox {
  float: right;
  position: relative;
  top: -8px;

}
#side_bar_left {
  width: 24%;
  border: 1px solid black;
  display: inline-block;
  height: 80vh;
  vertical-align: top;
  padding: 0 15px;


}
#side_bar_right {
  width: 20%;
  border: 1px solid black;
  display: inline-block;
  height: 80vh;
  vertical-align: top;
  padding: 0 15px;

}
#fridge {
  background: url(/assets/fridge-texture.jpg) no-repeat;
  background-size: cover;
  width: 400px;
  display: inline-block;
  height: 80vh;
  vertical-align: top;
  border-radius: 35px;
  border: 1px #888888 solid;

  -moz-box-shadow: 5px 9px 9px 2px #888888;
  -webkit-box-shadow: 5px 9px 9px 2px #888888;
  box-shadow: 5px 9px 9px 2px #888888;
}
