body {
  min-width: 960px;
  height: 500px;

}

#side_bar_left {
  width: 24%;
  border: 1px solid black;
  display: inline-block;
  height: 100vh;
  vertical-align: top;
  padding: 0 15px;

}
#side_bar_right {
  width: 20%;
  border: 1px solid black;
  display: inline-block;
  height: 100vh;
  vertical-align: top;
  padding: 0 15px;

}
#fridge {
  width: 48%;
  border: 1px solid black;
  display: inline-block;
  height: 100vh;
  vertical-align: top;
}